<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Chart.Streamgraph - a Chart.js plugin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
    .jumbotron {
      background-color: hsl(150,50%,90%);
    }
    pre.scrollable {
      overflow: auto;
      word-wrap: normal;
      white-space: pre;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container">
      <h1>Chart.Streamgraph</h1>
      <h3>A Streamgraph library and plug-in using Chart.js.</h3>
      <hr>
      <a class="btn btn-lg btn-primary" href="https://github.com/tmroyal/Chart.Streamgraph/archive/v0.0.2-alpha.zip">Download</a>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Introduction</h3>
      <p>This library allows the creation of <a href="http://leebyron.com/streamgraph/">Streamgraphs</a> using <a href="http://chartjs.org">Chart.js</a>. Pioneered, in part, by <a href="http://leebyron.com">Lee Byron</a> and <a href="http://www.bewitched.com/">Martin Wattenberg</a>, Streamgraphs are similar to stacked area charts with the exception that data regions do not overlap. Rather, Streamgraph regions are placed on top of one another, creating a shape that highlights the aggregate sum of all data points. While Streamgraphs do not present data with utmost clarity, they can be a cool way to present time-evolving data sets.</p>
    </div>
    <div class="col-md-6">
      <h3>Sample</h3>
      <canvas id="sampleChart" width="500" height="500"></canvas>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Installation Instructions</h3>
      <h5>Bower</h5>
      <p>The <a href="http://bower.io">Bower</a> package includes Chart.js.</p>
      <pre>bower install Chart.Streamgraph.js</pre>
      <h5>NPM</h5>
      <p>The <a href="https://www.npmjs.com/">NPM</a> package includes Chart.js.</p>
      <pre>npm install chart.streamgraph.js</pre>
      <h5>Other</h5>
      <p>Chart.Streamgraph may be downloaded here: 
        <a href="https://github.com/tmroyal/Chart.Streamgraph/archive/v0.0.2-alpha.zip">Download</a>
      </p>
      <p>You may also view the repository directly at 
        <a href="https://github.com/tmroyal/Chart.Streamgraph/">GitHub</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Usage</h3>
      <p>Chart.Streamgraph comes with both a standalone and plug-in version, with an <code>S</code> in the
      filename of the Standalone version to distinguish it. Be sure to use the version of Chart.Streamgraph.js
      the is in the <code>dst/</code> directory of the original repo or bower package.</p>
      <h5>Javascript</h5>
      <pre class="scrollable">var ctx = document.getElementById('streamgraph').getContext('2d');
var newChart = new Chart(ctx).Streamgraph(data, options);</pre>
      <h5>Example Standalone HTML</h5>
      <pre clas="scrollable">&lt;script src="dst/Chart.Streamgraph.S.js"&gt;&lt;/script&gt;

...
      
&lt;canvas id="streamgraph" width="800" height="400"&gt;&lt;/canvas&gt;
      </pre>
      <h5>Example Plugin HTML</h5>
      <pre class="scrollable">&lt;script src="Chart.Core.js"&gt;&lt;/script&gt;
&lt;script src="dst/Chart.Streamgraph.js"&gt;&lt;/script&gt;

...

&lt;canvas id="streamgraph" width="800" height="400"&gt;&lt;/canvas&gt;
      </pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Data Structure</h3>
      <pre class="scrollable">var data = {
  labels = ['January','February','March','April','May'],
  datasets = [
    {
      label: 'Dataset 1',
      fillColor: 'rgba(255,0,0,0.5)', // optional
      hoverColor: 'rgba(255,128,128,0.5)', // optional
      textColor: 'rgba(255,255,255,0.2)', // optional
      data: [2, 4, 6, 8, 10],
      tooltipData: {
        text: 'hello world',
        number: 2
      }
    },
    {
      label: 'Dataset 2',
      fillColor: 'rgba(0,255,0,0.5)', // optional
      hoverColor: 'rgba(128,255,128,0.5)', // optional
      textColor: 'rgba(0,0,0,0.2)', // optional
      data: [1, 2, 3, 4, 5]
    },
  ];
};</pre>
      <p>
        The data structure should include labels for the y-axis, as well as 
        an array of datasets, each including data and a corresponding label.
        Optionally, fill color, highlight color, text color, text size, and 
        tooltip options may be provided.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Options</h3>
      <p>
      The following options are configurable in
      Chart.Streamgraph. (Note that some options are overridden when specified in individual
      datasets.)
      </p>
      <pre class="scrollable">
// String - background color for graph
backgroundColor: '#fff',

// Boolean - whether the data sets are outlined.
stroke: true,

// Number - width of the outline stroke.
strokeWidth: 2,

// String - the outline stroke color.
strokeColor: "rgb(255,255,255)",

// Boolean - whether grid lines are shown across the chart.
scaleShowGridLines: true,

// String - color of the grid lines.
scaleGridLineColor: "rgba(0,0,0,0.1)",

// Number - width of the grid lines.
scaleGridLineWidth: 1,

// Boolean - whether to show horizontal lines (except X axis).
scaleShowHorizontalLines: true,

// Boolean - whether to show vertical lines (except Y axis).
scaleShowVerticalLines: true,

// Number - number of scale divisions
scaleDivisions: 6,

// Boolean - whether the line is curved between points.
curve: true,

// Number - tension of the curve between points.
curveTension: 0.1,

// String - "gradient", "palette", "cycle" which determinines
// the way colors are generated. Ignored if colors are specified within
// the datasets. See below.
colorInterpolation: "gradient",

// Array[String] - the colors used for the active color scheme.
// Any number of colors is allowed.
colors: [ "rgba(220,220,220,0.9)", "rgba(151,187,205,0.9)"],
// Boolean - whether streams change color on hover.
colorHighlight: true, 

// Number - a floating point value which specifies how much lighter or
// darker a color becomes when hovered, where 1 is no change, 
// 0.9 is slightly darker, and 1.1 is slightly lighter.
colorHighlightMultiplier: 0.92,

// String - "verticalPosition", "sum", "maxHeight"
// The method in which colors are assigned to 
// each dataset. See below.
colorAssignmentMethod: "verticalPosition",

// Boolean - Whether to draw labels
labels: true, 

// Boolean or Number - Whether label has a fixed size,
// and if so, what point size is it. False if labels
// are adaptable size.
labelFixedSize: false,

// Number - the minimum size of the label. When variable label 
// sizes are enabled using the labelFixedSize: all 
// labels smaller than this size are not renderend. A value of 
// 0 turns this feature off.
labelMinimumSize: 12,

// String - label font family
//labelFontFamily: "'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica', 'Arial', sans-serif",
labelFontFamily: '"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif',
// String - label font style
labelFontStyle: "normal",

// String - label font color. Can be overwritten manually in dataset.
labelFontColor: "rgba(64,64,64,0.5)",

// String - "ideal","idealThenMaxHeight", "maxHeight". 
// Label placement method. Can be overwitten manually in 
// dataset. See below.
labelPlacementMethod: "ideal",

// String - template for multitooltip
multiTooltipTemplate: "x:<%= xLabel %> y:<%= value %>"</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Unsupported Global Configurations</h3>
    <p>In addition, most of the <a href="http://www.chartjs.org/docs/#getting-started-global-chart-configuration">
      global chart configuration options</a> provided by Chart.js, can be configured, with the following exceptions:
    <ul>
      <li>Animations are not yet supported</li>
      <li>Legends are not yet supported</li>
      <li><code>scaleBeginAtZero</code> is not supported, as it does not make sense in this context.</li>
      <li><code>tooltipTemplate</code> is not used, as Chart.Streamgraph uses multi-tooltips in order to
      make more clear the relationship between color and data.
      </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Tooltip Options</h3>
      <p>The data presented by tooltips can be altered using the <code>multiTooltipTemplate</code> property. 
      Templates have access to the following variables:
      <ul> 
        <li><code>x</code>: the x index of the corresponding data over which the mouse cursor hovers</li>
        <li><code>xLabel</code>: the label corresponding to the x index</li>
        <li><code>value</code>: the value of the data at the given mouse position</li>
        <li><code>maxHeight</code>: the maximum height of the given dataset</li>
        <li><code>sum</code>: the sum of the dataset</li>
        <li><code>tooltipData</code>: arbitrary data provided on each dataset. Value does not have to be a string. It can be an object, for example.</li>
      </ul> 
      </p>
      <p>
      One current limitation of Chart.js is that line breaks cannot occur in tooltips. 
      </p>
      <h5>Example</h5>
      <pre class="scrollable">
. . .

multiTooltipTemplate: "maxHeight: <%= maxHeight %> | sum: <%= sum %> | xLabel: <%= xLabel %> | value: <%= value %> | x: <%= x %> | tooltipData: <%= tooltipData %>"

. . .
      </pre>
    </div>
  </div> 

  <div clas="row">
    <div class="col-md-10 col-md-offset-1">
      <canvas id="tooltipOptionsChart"></canvas>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Color Schemes</h3>
      <p>
      Colors may be specified manually for each dataset, or they may be assigned automatically.
      With automatic color assignment, the manner in which colors are assigned to datasets is
      specified using two parameters: <code>colorAssignmentMethod</code> and <code>colorInterpolation</code>.  
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5>colorAssignmentMethod</h5>
    <p>
    The <code>colorAssignmentMethod</code> parameter determines which feature of the data controls the assignment of color.
    Possible string values for this parameter include <code>"verticalPosition"</code>, <code>"sum"</code>, and <code>"maxHeight"</code>.
    </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><code>"verticalPosition"</code> &mdash; colors are assigned from bottom to the top.</p>
    </div>
    <div class="col-md-6">
      <canvas id="verticalPositionChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><code>"sum"</code> &mdash; colors are assigned in order of the smallest total sum of data to the largest</p>
    </div>
    <div class="col-md-6">
      <canvas id="sumChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><code>"maxHeight"</code> &mdash; colors are assigned in order of the smallest maximum data point to the largest</p>
    </div>
    <div class="col-md-6">
      <canvas id="maxHeightChart"></canvas>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5>colorInterpolation</h5>
      <p>The <code>colorInterpolation</code> parameter determines how to expand a set of colors into 
      a larger set of data. Possible string values for this parameter include <code>"gradient"</code>, <code>"palette"</code>, and <code>"cycle".</code>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><code>"gradient"</code> &mdash; a gradient is created from the provided colors.</p>
    </div>
    <div class="col-md-6">
      <canvas id="gradientChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><code>"palette"</code> &mdash; similar to gradient, but without interpolation between colors. Works best with
      multiple provided colors, or a provided stroke.</p>
    </div>
    <div class="col-md-6">
      <canvas id="paletteChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><code>"cycle"</code> &mdash; cycle through the provided colors.</p>
    </div>
    <div class="col-md-6">
      <canvas id="cycleChart"></canvas>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Label Placement</h3>
      <p>Labels for data may either be placed manually by specifying a position within each dataset, or automatically
      by providing a string value to the <code>labelPlacementMethod</code> parameter.   </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5>labelPlacementMethod: "ideal"</h5>
      <p>Chart.Streamgraph contains two types of automatic label placement algorithms. One of them, 
      specified using the <code>"ideal"</code> keyword, attempts to find an ideal location by measuring 
      the height of the stream and seeing if text that height will fit within the stream. It finds the 
      location that would support the largest label size. If there are no places that a label will fit, 
      the label is not placed on the stream.
     </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <canvas id="idealChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5>labelPlacementMethod: "maxHeight"</h5>
      <p>
      The other label placement algorithm, specified by <code>"maxHeight"</code>, simply places the label at the tallest 
      point on the graph. The label size is generated based on the height at the tallest point.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <canvas id="placementMaxHeightChart"></canvas>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h5>labelPlacementMethod: "idealThenMaxHeight"</h5>
      <p>
      The <code>"ideal"</code> placement method can fail to find an appropriate label location. The 
      parameter value <code>"idealThenMaxHeight"</code> allows the <code>"ideal"</code> algorithm to fall 
      back to the <code>"maxHeight"</code> algorithm when no suitable label placement is determined.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <canvas id="idealMaxHeightChart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h5>labelMinimumSize</h5>
      <p>
      When a number larger than zero is attached to the <code>labelMinimumSize</code> parameter, 
      any label whose size is smaller than the one specified is not included in the graph. When
      no paramter is given, it defaults to 12. (This example uses a value of 35, which has a 
      different result depending on the viewport or browser window size.)
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <canvas id="labelMinimumSizeChart"></canvas>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Scrolling Charts</h3>
      <p>Chart.Streamgraph has no baked in support for scrolling charts, although
      this effect can be approximated using <code>overflow-x: scroll</code> with a 
      chart wider than the enclosing <code>div</code>. In this case, chart options 
      should be set to <code>responsive: false</code>, and both the size of the enclosing
      div and the canvas element must be set explicitly.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div style="height: 300px; width: 100%; overflow-x: scroll;">
        <canvas id="scrollChart" height="300" width="2000"></canvas>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Bug Reports, Contributing, etc.</h3>
      <p>Bug reports may be placed on the Github repository's 
      <a href="https://github.com/tmroyal/Chart.Streamgraph/issues">
        issue tracker</a>.</p> 
      <p>At this time, because this is a small project, there 
      is no formal procedure for making contributions. They are welcome.</p>
      <p>Feel free to contact <a href="mailto:thomas.m.royal@gmail.com">
        thomas.m.royal@gmail.com</a> with any questions.</p>
    </div>
  </div>


</div>

<script src='Chart.Streamgraph.S.min.js'></script>
<script>
(function(){
  function clone(obj){
    return JSON.parse(JSON.stringify(obj));
  }

  function ctx(elementId){
    return document.getElementById(elementId).getContext('2d');
  }

  // completely arbitrary data
  var sampleData = {
    labels: ['January', 'Feburary', 'March', 'April', 'May', 'June', 
             'July', 'August', 'September','October', 'November', 'December' ],
    datasets: [
      {
        label: 'Corn',
        data: [ 4, 4, 5.5, 4, 7, 12, 14, 9, 6, 5, 2, 1]
      },
      {
        label: 'Wheat',
        data: [ 8, 2, 1, 0, 0, 0, 1, 3, 8, 12, 11, 10]
      },
      {
        label: 'Rice',
        data: [0, 1, 2, 2, 3, 4, 3, 2, 2, 3, 0, 0]
      },
      {
        label: 'Rye',
        data: [0, 0, 0, 0, 0, 0, 2, 5, 9, 6, 5, 1]
      },
      {
        label: 'Oats',
        data: [0, 3, 2, 3, 6, 3, 4, 1, 2, 4, 8, 2]
      }
    ]
  };

  var sampleChart = new Chart(ctx('sampleChart')).Streamgraph(sampleData, {responsive: true});

  var tooltipChartData = clone(sampleData);
  tooltipChartData.datasets[0].tooltipData = "Cob";
  tooltipChartData.datasets[1].tooltipData = "Beer";
  tooltipChartData.datasets[2].tooltipData = "Wine";
  tooltipChartData.datasets[3].tooltipData = "Bread";
  tooltipChartData.datasets[4].tooltipData = "Meal";


  var tooltipOptionsChart = new Chart(ctx('tooltipOptionsChart'))
    .Streamgraph(tooltipChartData, {
        responsive: true,
        multiTooltipTemplate: "maxHeight: <%= maxHeight %> | sum: <%= sum %> | xLabel: <%= xLabel %>"+
        " | value: <%= value %> | x: <%= x %> | tooltipData: <%= tooltipData %>"
      });

  var verticalPositionChart = new Chart(ctx('verticalPositionChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      colors: ['red', 'orange', 'yellow', 'green', 'rgb(128,128,255)'],
      colorAssignmentMethod: 'verticalPosition',
      labelFontColor: 'black',
      stroke: false
    });

  var sumChart = new Chart(ctx('sumChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      colors: ['red', 'orange', 'yellow', 'green', 'rgb(128,128,255)'],
      colorAssignmentMethod: 'sum',
      labelFontColor: 'black',
      stroke: false
    });


  var maxHeightChart = new Chart(ctx('maxHeightChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      colors: ['red', 'orange', 'yellow', 'green', 'rgb(128,128,255)'],
      colorAssignmentMethod: 'maxHeight',
      labelFontColor: 'black',
      stroke: false
    });

  var gradientChart = new Chart(ctx('gradientChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      colors: ['rgb(128,128,255)', 'rgb(64,255,255)'],
      colorInterpolation: 'gradient',
    });

  var paletteChart = new Chart(ctx('paletteChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      colors: ['rgb(128,128,255)', 'rgb(64,255,255)'],
      colorInterpolation: 'palette',
    });

  var cycleChart = new Chart(ctx('cycleChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      colors: ['rgb(128,128,255)', 'rgb(64,255,255)'],
      colorInterpolation: 'cycle',
    });

  var idealChart = new Chart(ctx('idealChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      labelPlacementMethod: 'ideal',
      labelMinimumSize: 8
    });

  var maxHeightChart = new Chart(ctx('placementMaxHeightChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      labelPlacementMethod: 'maxHeight'
    });


  var idealMaxHeightChart = new Chart(ctx('idealMaxHeightChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      labelPlacementMethod: 'idealThenMaxHeight'
    });

  var labelMinimumSizeChart = new Chart(ctx('labelMinimumSizeChart'))
    .Streamgraph(sampleData, {
      responsive: true, 
      labelMinimumSize: 35
    });

  var scrollChart = new Chart(ctx('scrollChart')).Streamgraph(sampleData, {responsive: false});


})();
</script>

</body>
</html>
